<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center"><%= jPage %></h3>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <img class="w-50" src="/LOGOITB.png" alt="">
                        </div>
                        <% if (condition) { %>
                            <!-- Kode yang akan dieksekusi jika kondisi terpenuhi -->
                        <% } else { %>
                            <!-- Kode yang akan dieksekusi jika kondisi tidak terpenuhi -->
                        <% } %>
                          
                        <form name="login" action="/login" method="POST">
                            <div class="mb-3">
                                <label for="exampleInputEmail1">NIM</label>
                                <input type="NIM" name="NIM" class="form-control" id="NIMinput" aria-describedby="emailHelp" required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" name="password" class="form-control" id="exampleInputPassword1"  required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                        <a href="/register">Register an Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>