.navbar{
    background-color: white;
}
.container-fluid{
    padding-bottom: 10px;
}
.icon_nav{
    width: fit-content;
    max-width: 30px;
}
.identitas{
    text-align: end;
    padding-right: 5px;
}
.dropdown-item-text{
    white-space: nowrap;
}
.judul{
    margin-left: 10px;
}
.keluar{
    color: red;
    font-weight: bold;
}
.kamera{
    height: 400px;
    width: 400px!important;
    background-color: dimgray;
}
/* Media Queries untuk perangkat dengan lebar layar kurang dari 600px */
@media (max-width: 600px) {
    /* Aturan CSS khusus untuk perangkat dengan lebar layar kurang dari 600px */
    .judul{
        display: none;
    }
    .identitas{
        display: none;
    }
}

body
{
    margin: 0;
    padding: 0;
    background-color: white;
}
p
{
    margin: 0;
}
h1
{
    font-size:x-large;
    margin: 0;
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #23463f;
        border-radius: 15px ;

}
h2{
    text-align: center;
    color: #277582;
    padding: 20px;
}
label{
    color: #08ffd1;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


}
span{
    color: white;
    font-size: 17px;
}
a{
    float: right;
    background-color: grey;
}