.navbar{
    background-color: white;
}
.icon_nav{
    width: fit-content;
    max-width: 30px;
}
.identitas{
    text-align: end;
    padding-right: 5px;
}
.dropdown-item-text{
    white-space: nowrap;
}
.judul{
    margin-left: 10px;
}
.keluar{
    color: red;
    font-weight: bold;
}
.kamera{
    height: 400px;
    width: 400px!important;
    background-color: dimgray;
}

.btn-danger.active{
    color: white;
    background-color: #198754;
    border-color: #198754;
}
.set-bg-body{
    background-color: #f1f1f1!important;
}
/* Media Queries untuk perangkat dengan lebar layar kurang dari 600px */
@media (max-width: 600px) {
    /* Aturan CSS khusus untuk perangkat dengan lebar layar kurang dari 600px */
    .judul{
        display: none;
    }
    .identitas{
        display: none;
    }
}
html
{
    background-color: #ffffff;
}
body
{
    margin: 0;
    padding: 0;
    min-height: 100vh!important;
}
p
{
    margin: 0;
}
h1
{
    font-size:x-large;
    margin: 0;
}