<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praktikum Gelombang Berdiri</title>
</head>
<body>
    <h2>Praktikum Gelombang Berdiri</h2><br>
    <div class="login">
        <form id="login" method="get" action="login.php">
            <label>
                <b>
                    NIM
                </b>
                <br>
            </label>
            <input type="text" name="Uname" id="Uname" placeholder="NIM">
            <br>
            <br>
            <label>
                <b>Password</b>
            </label>
            <input type="Password" name="Pass" id="Pass" placeholder="Password">
            <br>
            <br>
            <button name="log" id="log" value="Log In Here"></button>
            <!-- <input type="button" name="log" id="log" value="Log In Here"> -->
            <br>
            <br>
            <input type="checkbox" id="check">
                <span>Remember me</span>
            <br>
            <br>
            <a href="#">Forgot Password</a>
        </form>
    </div>
</body>
</html>