<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fokus Praktikum</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>
  <!-- <%= modul='Modul 1',nPage='Gelombang Berdiri',nama= 'Praktikum Fisika Dasar' ,nim= "Institut Teknologi Bandung"; %> -->
  <%- include("./components/navbar"); %>

  <div class="container-fluid !direction pt-3 px-4">
    <div class="row">
      <div class="col">
        <h4>Control Panel</h4>
      </div>
    </div>
    <div class="row">
      <video autoplay class="col" id="video">
      </video>
      <div class="col-sm-auto">
        <div class="row mt-3 ms-1 w-100">
          <button id="button" type="button" class="btn btn-danger" data-bs-toggle="button" aria-pressed="true">
            <a id="buttonTitle">ON</a>
          </button>
        </div>
        <div class="row mt-3">
          <p class="ms-1">Frekuensi</p>
          <div class="col">
            <input type="number" class="ms-1 w-100" id="freqInput">
          </div>
          <div class="col-sm-auto">
            <span>Hz</span>
          </div>
        </div>
        <div class="row mt-3">
          <p class="ms-1">Beban</p>
          <div class="col">
            <input type="number" class="ms-1 w-100" id="bebanInput">
          </div>
          <div class="col-sm-auto">
            <span>gr</span>
          </div>
        </div>
        <div class="row mt-3 ms-1 w-100">
          <button class="btn btn-primary" id="sendButton"> Kirim </button>
          <button class="btn" id="resetButton"> Reset </button>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" defer></script>
<script src="scriptPrak.js"></script>
</html>